body {
    background-color: rgba(235, 222, 206, 0.57);
}

header {
    background-color: rgb(195, 187, 141);
    border-radius: 10%;
   border: coral;
    margin: 10%;
}
img {
    max-width: 20%;
    height: auto;
    display: flexbox;
    align-items: flex-end;
}

article {
    
    
}
body {
    text-align: center;
    margin: 10%;
}

h1 {
   text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

h2 {
    font-size: large;
}

footer {
    padding: 5%;
    text-align: center; 
}

header:hover{
 color: pink;

}
